[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
zaber-motion = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pydocstyle = "*"
invoke = "*"

[requires]
python_version = "3.9"
