[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Zaber Motion Library needs the following three lines to ensure Pipfile.lock work on all platforms.
textual = {extras = ["dev"], version = "*"}
zaber-motion = "*"
zaber-motion-bindings-darwin = "*"
zaber-motion-bindings-linux = "*"
zaber-motion-bindings-windows = "*"

[dev-packages]
black = "*"
colorama = {version = "*", markers = "platform_system == 'Windows'"}
pylint = "*"
mypy = "*"
pydocstyle = "*"

[requires]
python_version = "3.10"
