[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
# Zaber Motion Library needs the following three lines to ensure Pipfile.lock work on all platforms.
zaber-motion = "*"
zaber-motion-bindings-darwin = "*"
zaber-motion-bindings-linux = "*"
zaber-motion-bindings-windows = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pydocstyle = "*"
invoke = "*"

[requires]
python_version = "3.9"
